body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
header {
    background: #333;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* FEATURES */
.features {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* ABOUT */
.about {
    padding: 40px;
    background: #f4f4f4;
    text-align: center;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
}
